<div class="bg-bg-main">
  <div
    class="max-w-screen-xl flex items-center justify-evenly mx-auto h-screen"
  >
    <div class="">
      <div
        class="card max-h-96 overflow-hidden flex justify-center items-center rounded-md mt-10 m-full"
      >
        <div class="items-center">
          <div class="h-auto max-w-full overflow-hidden">
            <img src="{{ homeBG5 }}" alt="" srcset="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="max-w-screen-xl mx-auto mt-14">
    <div class="text-3xl mb-3 poppins-bold text-color">
      Week 8: SECURITY FEATURES
    </div>
    <div class="flex">
      <div class="poppins-light uppercase">MARCH 24 - MARCH 28</div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
  </div>

  <div class="max-w-screen-xl flex items-center justify-between mx-auto">
    <div class="grid grid-cols-2 items-center">
      <div>
        <h1 class="text-3xl mb-3 poppins-bold text-color">Security Issue</h1>
        <p class="my-6 poppins-light text-sm">
          A security issue was encountered during admin and moderator login due
          to missing session tokens in HTTP header requests. The Angular
          configuration lacked a header setter, which initially caused login
          failures. After troubleshooting, the issue was resolved by
          implementing a consistent session-based authentication approach across
          both Flutter and Angular, ensuring secure and seamless login
          functionality across platforms.
        </p>
      </div>
      <div class="h-auto max-w-full justify-center flex">
        <div class="flex justify-center flex-col items-center m-full">
          <h1 class="text-xl poppins-semibold text-color">
            Security Issue in Flutter
          </h1>
          <img
            src="{{ SecurityIssue }}"
            alt=""
            srcset=""
            style="height: 500px"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Mentors -->
  <div class="max-w-screen-xl mx-auto mb-20">
    <div class="items-center">
      <div
        class="grid grid-cols-1 md:grid-cols-1 mt-10 justify-center max-w-5xl mx-auto"
      >
        <div class="card shadow-lg flex justify-center items-center">
          <div class="items-center">
            <div class="flex flex-col items-center">
              <div class="flex items-center flex-col">
                <h1 class="text-xl poppins-semibold text-color">
                  Security Issue in Angular
                </h1>
              </div>
            </div>
            <div class="max-w-full overflow-hidden flex justify-center">
              <img
                src="{{ angularIssue }}"
                alt=""
                class="w-full h-full object-cover"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Mentors -->

  <!-- UI Login -->

  <div class="max-w-screen-xl mx-auto">
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
  </div>

  <div class="max-w-screen-xl flex items-center justify-between mx-auto">
    <div class="grid grid-cols-2 items-center">
      <div class="h-auto max-w-full justify-center flex">
        <img src="{{ ImageIssue }}" alt="" srcset="" style="height: 500px" />
      </div>
      <div>
        <h1 class="text-3xl mb-3 poppins-bold text-color">
          Image Upload Issue (Client/Tasker)
        </h1>
        <p class="my-6 poppins-light text-sm">
          The system faced an error while uploading and fetching user-submitted
          PDF documents, preventing proper verification status updates. This
          issue was due to the system's condition not recognizing the PDF file
          type, which was later addressed by refining the upload validation
          logic. As a result, users are now properly notified if their profile
          is incomplete, ensuring smoother profile verification for both clients
          and taskers.
        </p>
      </div>
    </div>
  </div>
  <!-- UI Login -->

  <div class="max-w-screen-xl flex items-center justify-between mx-auto">
    <div class="grid grid-cols-2 items-center">
      <div>
        <h1 class="text-3xl mb-3 poppins-bold text-color">
          Account Validation
        </h1>
        <p class="my-6 poppins-light text-sm">
          The account creation process now includes stricter document
          validation. Taskers are required to upload a TESDA certificate to
          verify their qualifications for specific tasks, which must be approved
          by a moderator. Clients, on the other hand, must submit a valid ID for
          identification purposes, also subject to moderator approval. This
          ensures that only authenticated and qualified users can fully access
          and interact with the mobile app’s core features.
        </p>
      </div>
      <div class="h-auto max-w-full justify-center flex">
        <img
          src="{{ ValidationIssue }}"
          alt=""
          srcset=""
          style="height: 500px"
        />
      </div>
    </div>
  </div>
  <!-- UI Login -->

  <!-- System Design -->
  <div class="max-w-screen-xl mx-auto">
    <div class="max-w-screen-xl flex items-center justify-between mx-auto">
      <div class="flex-grow">
        <div class="flex items-center">
          <h1 class="text-3xl font-bold poppins-bold text-color">
            System Percentage
          </h1>
          <div
            class="flex-grow border-t border-gray-200 dark:border-gray-700 ml-4"
          ></div>
        </div>
        <div class="grid grid-cols-2 items-center mt-10">
          <div>
            <p class="my-6 poppins-light text-sm">
              {{ system_description[0].title }}
            </p>
            <div class="flex gap-5">
              <button
                class="bg-bg-main text-white poppins-semibold py-2 px-4 rounded-md"
              >
                <a
                  href="https://github.com/orgs/Quanby-OJT/projects/14/views/1?filterQuery="
                  class="text-color poppins-semibold"
                  >Github Link</a
                >
              </button>
            </div>
          </div>

          <div class="h-auto max-w-full justify-center flex">
            <img
              src="{{ systemPercent }}"
              alt=""
              srcset=""
              style="height: 250px"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- System Design -->
  <!-- Documentation -->
  <div class="max-w-screen-xl mx-auto mt-10">
    <div class="items-center">
      <div >
        <div class="flex items-center">
          <div class="flex-grow border-t border-gray-200 dark:border-gray-700 mr-4"></div>
          <h1 class="text-3xl font-bold poppins-bold text-color">Documentation</h1>
          <div class="flex-grow border-t border-gray-200 dark:border-gray-700 ml-4"></div>
        </div>

        <app-photo></app-photo> 

      </div>
    </div>
  </div>
  <!--  -->

  <!-- Summary -->
  <div class="max-w-screen-xl flex items-center justify-between mx-auto">
    <div class="items-center mt-10">
      <div>
        <p class="my-6 poppins-light text-sm"></p>
      </div>
    </div>
  </div>

  <div class="my-10">
    <div class="max-w-screen-xl mx-auto flex items-center justify-center">
      <div class="grid grid-cols-2 items-center gap-10">
        <div class="h-auto max-w-full justify-center flex">
          <img src="{{ SummaryIssue }}" alt="" srcset="" />
        </div>

        <div>
          <h1 class="text-3xl font-bold mb-3 poppins-bold text-color">
            Summary
          </h1>
          <p class="my-6 poppins-light text-sm">
            The system encountered and resolved several issues, including a
            security problem with missing session tokens during admin and
            moderator login, which was fixed by implementing consistent
            session-based authentication across both Flutter and Angular. An
            image upload issue was also addressed by refining the upload
            validation logic, ensuring users are properly notified if their
            profile is incomplete. The account creation process has been
            enhanced with stricter document validation, requiring taskers to
            submit a TESDA certificate and clients to upload an ID, both subject
            to moderator approval, ensuring only authenticated users can fully
            access the system.
          </p>

          <div class="flex justify-end">
            <button
              type="button"
              class="relative flex items-center justify-center gap-2 text-color bg-gradient-to-r from-blue-600 to-blue-800 hover:from-blue-700 hover:to-blue-900 focus:ring-4 focus:ring-blue-300 font-semibold rounded-full text-md px-6 py-3 transition-all duration-300 shadow-lg hover:shadow-xl focus:outline-none dark:focus:ring-blue-800"
            >
              Next Page
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 5l7 7-7 7"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
