<div class="bg-bg-main">
  <div class="max-w-screen-xl flex items-center justify-evenly mx-auto h-screen">
    <div class="">
      <div class="card max-h-96 overflow-hidden flex justify-center items-center rounded-md mt-10 m-full">
        <div class="items-center">
          <div class="h-auto max-w-full overflow-hidden">
            <img src="{{ homeBG5 }}" alt="" srcset="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  -->

 
<div class="max-w-screen-xl mx-auto mt-14">
  <div class="text-3xl font-bold mb-3 poppins-bold text-color">
    Week 7: Security Features Added


  </div>
  <div class="font-bold poppins-light">MARCH 17 - MARCH 21</div>
  <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
</div>

<!--  -->

<div class="max-w-screen-xl flex items-center justify-between mx-auto">
  <div class="relative w-full">
    <img src="{{ introduction[0].image }}" alt="" class="w-full h-auto">
    <div class="absolute top-0 left-0 w-full h-full bg-black opacity-20"></div>
    <div class="absolute bottom-10 left-10 max-w-2xl mb-2">
      <div class="py-5 px-10 bg-bg-main opacity-80 rounded-lg text-center">
        <div class="text-3xl font-bold mb-3 poppins-semibold text-color">
          {{ introduction[0].title }}
        </div>
        <div class="mb-3 poppins-light">
          {{ introduction[0].content }}
        </div>
      </div>
    </div>
  </div>
</div>

<!--  -->

<div class="my-20">
  <div class="max-w-screen-xl mx-auto flex items-center justify-center">
    <div class="grid grid-cols-2 items-center gap-10">
      <div class="h-auto max-w-full justify-center flex">
        <img src="{{ taskCompleted }}" alt="" srcset="" style="height: 450px" />
      </div>

      <div class="">
        <h1 class="text-3xl font-bold mb-3 poppins-semibold">
          Key <span class="text-color">Learnings</span>
        </h1>
        <ul class="my-6 poppins-light">
          <li class="my-4">
            <div class="card shadow-lg relative">
              <div class="absolute bottom-10 -left-10 bg-bg-main rounded-md" style="height: 70px; width: 70px;"></div>
              <div class="items-center">
                <div class="py-4 pl-16 pr-8">
                  <h1 class="text-xl font-bold mb-3 poppins-semibold">
                    <span class="text-color"> Role-Based Registration</span>
                  </h1>
                  <p class="my-6 poppins-light text-sm">
                    Implementing separate user roles (client and tasker) requires a structured and flexible approach.
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="my-4">
            <div class="card shadow-lg relative">
              <div class="absolute bottom-10 -left-10 bg-bg-main rounded-md" style="height: 70px; width: 70px;"></div>
              <div class="items-center">
                <div class="py-4 pl-16 pr-8">
                  <h1 class="text-xl font-bold mb-3 poppins-semibold">
                    <span class="text-color"> Email Validation Importance</span>
                  </h1>
                  <p class="my-6 poppins-light text-sm">
                    Ensuring only verified clients can post jobs is essential for system integrity.
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="my-4">
            <div class="card shadow-lg relative">
              <div class="absolute bottom-10 -left-10 bg-bg-main rounded-md" style="height: 70px; width: 70px;"></div>
              <div class="items-center">
                <div class="py-4 pl-16 pr-8">
                  <h1 class="text-xl font-bold mb-3 poppins-semibold">
                    <span class="text-color"> File Handling Challenges</span>
                  </h1>
                  <p class="my-6 poppins-light text-sm">
                    Uploading images and documents for users requires careful data management.
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="my-4">
            <div class="card shadow-lg relative">
              <div class="absolute bottom-10 -left-10 bg-bg-main rounded-md" style="height: 70px; width: 70px;"></div>
              <div class="items-center">
                <div class="py-4 pl-16 pr-8">
                  <h1 class="text-xl font-bold mb-3 poppins-semibold">
                    <span class="text-color"> Debugging &Problem-Solving</span>
                  </h1>
                  <p class="my-6 poppins-light text-sm">
                    Learning from errors and refining logic helped in improving development speed.
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>


    </div>
  </div>
</div>

<!--  -->

<!--  -->
<div class="bg-bg-main my-10">
  <div class="max-w-screen-xl mx-auto">
    <div class="">
      <div class="my-10 text-center flex flex-col justify-center">
        <h1 class="text-3xl font-bold mt-10 poppins-semibold">
          Challenges<span class="text-color"> and </span>Solutions
        </h1>

        <div class="h-auto max-w-full justify-center flex">
          <img src="{{ think }}" alt="" srcset="" style="height: 300px" />
        </div>

        <div class="relative">
          <div class="flex justify-center w-full">
            <div class="flex flex-col items-center p-6">
              <div class="relative">
                <div *ngFor="let learning of learnings; let i = index" class="mb-10" [ngClass]="{
                      'ml-10 -mr-96': i % 2 === 0,
                      'mr-10 -ml-96': i % 2 === 1
                    }">
                  <!-- Content -->
                  <div class="bg-white shadow-md py-6 px-10 rounded-lg max-w-2xl text-center">
                    <h3 class="text-lg text-color poppins-semibold mb-3">
                      {{ learning.title }}
                    </h3>
                    <p class="text-gray-600 poppins-light">
                      {{ learning.content }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  -->

<div class="my-20">
  <div class="max-w-screen-xl mx-auto flex items-center justify-center">
    <div class="grid grid-cols-2 items-center gap-10">
      <div class="h-auto max-w-full justify-center flex">
        <img src="{{ taskCompleted }}" alt="" srcset="" style="height: 450px" />
      </div>

      <div class="">
        <h1 class="text-3xl font-bold mb-3 poppins-semibold">
          Tasks <span class="text-color">Completed</span>
        </h1>
        <ul class="my-6 poppins-light">
          <li class="my-4">
            <span class="text-color">✅</span> Client registration module
          </li>
          <li class="my-4">
            <span class="text-color">✅</span> SEmail validation for client accounts
          </li>
          <li class="my-4">
            <span class="text-color">✅</span> Client profile update implementation
          </li>
          <li class="my-4">
            <span class="text-color">✅</span> Tasker fill-up form completion
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--  -->


<div class="bg-bg-main">

  <div class="my-10">
    <div class="max-w-screen-xl mx-auto flex items-center justify-center">
      <div class="grid grid-cols-2 items-center gap-10">
        <div class="h-auto max-w-full justify-center flex">
          <img src="{{ weekSummary[0].image }}" alt="" srcset="" />
        </div>

        <div>
          <h1 class="text-3xl font-bold poppins-semibold">
            Weekly <span class="text-color">Summary</span>
          </h1>
          <p class="my-6 poppins-light">
            {{ weekSummary[0].content }}
          </p>

          <div class="flex justify-end">
            <div class="grid grid-cols-2 gap-5">
              <button type="button"
                class="relative flex items-center justify-center gap-2 text-color bg-gradient-to-r from-blue-600 to-blue-800 hover:from-blue-700 hover:to-blue-900 focus:ring-4 focus:ring-blue-300 font-semibold rounded-full text-md px-6 py-3 transition-all duration-300 shadow-lg hover:shadow-xl focus:outline-none dark:focus:ring-blue-800">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                  stroke="currentColor" class="w-5 h-5">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
                </svg>
                Previous Page
              </button>
              <button type="button"
                class="relative flex items-center justify-center gap-2 text-color bg-gradient-to-r from-blue-600 to-blue-800 hover:from-blue-700 hover:to-blue-900 focus:ring-4 focus:ring-blue-300 font-semibold rounded-full text-md px-6 py-3 transition-all duration-300 shadow-lg hover:shadow-xl focus:outline-none dark:focus:ring-blue-800">
                Next Page
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                  stroke="currentColor" class="w-5 h-5">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  -->