<div class="w-full h-screen flex items-center justify-evenly">
  <div class="h-auto max-w-full">
    <img style="height: 500px" [src]="imageAbout" alt="" />
  </div>
  <div class="p-6 max-w-lg">
    <span class="block poppins-light text-xl">Our Journey Together!</span>
    <h1 class="text-5xl font-bold mb-3 poppins-medium">Discover Your True</h1>
    <span class="block mb-3 poppins-medium text-5xl">Potential</span>
    <p class="">
      Here at iPeer, we foster personal growth and mental wellness through peer
      counseling, supporting you every step of the way.
    </p>

    <button
      type="button"
      class="mt-4 text-white font-semibold bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 rounded-full text-sm px-5 py-4 text-center inline-flex items-center me-2 mb-2"
    >
      GET STARTED
    </button>
  </div>
</div>
