<swiper-container
  slides-per-view="1"
  mousewheel-force-to-axis="true"
  space-between="30"
  pagination="true"
>
  <swiper-slide class="mb-20"
    ><div class="card shadow-lg flex justify-center items-center">
      <div class="items-center">
        <div class="max-w-full overflow-hidden h-60 flex justify-center">
          <img
            src="{{ installError }}"
            alt=""
            class="w-full h-full object-cover"
          />
        </div>
        <div class="py-4 px-8">
          <h1 class="text-2xl font-bold mb-3 poppins-semibold">
            Installation <span class="text-color">Issues</span>
          </h1>
          <p class="my-6 poppins-light text-sm">
            ✅I struggled with version mismatches in Node.js, which took hours
            to fix. After checking the documentation, I updated Node.js, and the
            issue was resolved.
          </p>
        </div>
      </div>
    </div></swiper-slide
  >
  <swiper-slide class="mb-20"
    ><div class="card shadow-lg flex justify-center items-center">
      <div class="items-center">
        <div class="max-w-full overflow-hidden h-60 flex justify-center">
          <img
            src="{{ pageError }}"
            alt=""
            class="w-full h-full object-cover"
          />
        </div>
        <div class="py-4 px-8">
          <h1 class="text-2xl font-bold mb-3 poppins-semibold">
            Routing <span class="text-color">Errors</span>
          </h1>
          <p class="my-6 poppins-light text-sm">
            ✅Some pages wouldn’t load properly. Watching tutorials and
            researching helped me understand routing structures and fix the
            issues.
          </p>
        </div>
      </div>
    </div></swiper-slide
  ><swiper-slide class="mb-20"
    ><div class="card shadow-lg flex justify-center items-center">
      <div class="items-center">
        <div class="max-w-full overflow-hidden h-60 flex justify-center">
          <img
            src="{{ serverError }}"
            alt=""
            class="w-full h-full object-cover"
          />
        </div>
        <div class="py-4 px-8">
          <h1 class="text-2xl font-bold mb-3 poppins-semibold">
            Configuration <span class="text-color">failure</span>
          </h1>
          <p class="my-6 poppins-light text-sm">
            ✅Connecting the frontend and backend while considering Flutter’s
            integration was tricky. Installing CORS and HTTP modules solved the
            problem.
          </p>
        </div>
      </div>
    </div></swiper-slide
  >
  <swiper-slide class="mb-20"
    ><div class="card shadow-lg flex justify-center items-center">
      <div class="items-center">
        <div class="max-w-full overflow-hidden h-60 flex justify-center">
          <img
            src="{{ timeManagement }}"
            alt=""
            class="w-full h-full object-cover"
          />
        </div>
        <div class="py-4 px-8">
          <h1 class="text-2xl font-bold mb-3 poppins-semibold">
            Time <span class="text-color">Management</span>
          </h1>
          <p class="my-6 poppins-light text-sm">
            ✅Balancing leadership duties and technical work was tough. Fixing
            unexpected errors delayed progress, but I learned to allocate time
            more efficiently.
          </p>
        </div>
      </div>
    </div></swiper-slide
  >
</swiper-container>
