<nav
  class="bg-white border-gray-200 dark:bg-gray-900 shadow-lg fixed w-full z-50 min-h-24"
>
  <div
    class="max-w-screen-xl flex items-center justify-between mx-auto p-4 min-h-24"
  >
    <!-- Left: Logo -->
    <a
      href="https://flowbite.com/"
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
      <span
        class="self-center text-2xl poppins-semibold whitespace-nowrap dark:text-white"
        >Flowbite</span
      >
    </a>

    <div class="hidden md:flex md:items-center md:space-x-8 md:order-1">
      <ul
        class="flex flex-col items-center font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li
          *ngFor="let navItem of navList"
          class="relative mx-3 poppins-semibold"
        >
          <ng-container *ngIf="navItem !== 'WEEK'; else weekDropdown">
            <a
              [routerLink]="getRoute(navItem)"
              routerLinkActive="active"
              class="nav-link"
              [ngClass]="{
                'text-blue-700': isActive(navItem),
                'text-black': !isActive(navItem)
              }"
            >
              {{ navItem }}
            </a>
          </ng-container>

          <ng-template #weekDropdown>
            <button
              class="nav-link gap-1 text-white font-semibold b-dark hover:b-light focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 rounded-md text-sm py-3 px-7 text-center inline-flex items-center me-2 mb-2"
              (click)="toggleDropdown()"
            >
              WEEK Blog
              <span [ngClass]="{ 'rotate-180': isDropdownOpen }">▼</span>
            </button>

            <ul
              *ngIf="isDropdownOpen"
              class="absolute left-0 mt-2 w-40 bg-white border rounded shadow-lg"
            >
              <li *ngFor="let week of weekList">
                <a
                  [routerLink]="getRoute(week)"
                  class="block px-4 py-2 hover:bg-gray-100"
                >
                  {{ week }}
                </a>
              </li>
            </ul>
          </ng-template>
        </li>
      </ul>
    </div>

    <div class="md:hidden flex items-center">
      <button
        data-collapse-toggle="navbar-cta"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>
  </div>
</nav>
