<div class="bg-bg-main">
  <div
    class="max-w-screen-xl flex items-center justify-evenly mx-auto h-screen"
  >
    <div class="">
      <div
        class="card max-h-96 overflow-hidden flex justify-center items-center rounded-md mt-10 m-full"
      >
        <div class="items-center">
          <div class="h-auto max-w-full overflow-hidden">
            <img src="{{ homeBG5 }}" alt="" srcset="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="max-w-screen-xl mx-auto mt-14">
    <div class="text-3xl mb-3 poppins-bold text-color">
      Week 9: WORK FROM HOME SET-UP
    </div>
    <div class="flex">
      <div class="poppins-light uppercase">MARCH 31 - APRIL 04</div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
  </div>

  <div class="max-w-screen-xl flex items-center justify-between mx-auto">
    <div class="grid grid-cols-2 items-center">
      <div>
        <h1 class="text-3xl mb-3 poppins-bold text-color">Access Limitation</h1>
        <p class="my-6 poppins-light text-sm">
          Access to core features such as posting and accepting tasks is
          restricted unless the user's ID and required documents have been
          verified by the admin. If a user has not uploaded their
          identification, a "missing information" message will be displayed to
          notify them. This ensures only authorized users can fully interact
          with the system and helps maintain security and data integrity.
        </p>
      </div>
      <div class="h-auto max-w-full justify-center flex">
        <img
          src="{{ accessLimitation }}"
          alt=""
          srcset=""
          style="height: 500px"
        />
      </div>
    </div>
  </div>

  <!-- Mentors -->
  <div class="max-w-screen-xl mx-auto mb-20">
    <div class="items-center">
      <div>
        <div class="flex items-center">
          <h1 class="text-3xl font-bold poppins-bold text-color">
            Update System Backlogs
          </h1>
          <div
            class="flex-grow border-t border-gray-200 dark:border-gray-700 ml-4"
          ></div>
        </div>

        <div
          class="grid grid-cols-1 md:grid-cols-1 mt-10 justify-center max-w-5xl mx-auto"
        >
          <div class="card shadow-lg flex justify-center items-center">
            <div class="items-center">
              <div class="max-w-full overflow-hidden flex justify-center">
                <img
                  src="{{ systemBacklogs }}"
                  alt=""
                  class="w-full h-full object-cover"
                />
              </div>
              <div class="py-4 px-8 flex flex-col items-center my-3">
                <div class="flex items-center flex-col mb-3">
                  <h1 class="text-xl poppins-semibold text-color">
                    Full System Backlogs
                  </h1>
                  <p>NearByTask Application</p>
                </div>
                <p class="poppins-light text-sm text-gray-600 text-center">
                  System backlogs were updated based on newly created user
                  stories to track the progress of feature implementation. This
                  includes identifying tasks that are ready, in progress, in
                  review and done, ensuring better project management and
                  workflow organization. Keeping the backlog current allows the
                  team to prioritize development efforts and remain aligned with
                  project goals.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Mentors -->

  <!-- UI Login -->

  <div class="max-w-screen-xl mx-auto">
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
  </div>

  <div class="max-w-screen-xl flex items-center justify-between mx-auto">
    <div class="grid grid-cols-2 items-center">
      <div class="h-auto max-w-full justify-center flex">
        <img src="{{ loginDesign }}" alt="" srcset="" style="height: 500px" />
      </div>
      <div>
        <h1 class="text-3xl mb-3 poppins-bold text-color">Login Design</h1>
        <p class="my-6 poppins-light text-sm">
          The login system was redesigned to better suit the mobile app
          environment by removing the email confirmation link, as the system now
          sends a 6-digit verification code upon login. Upon the user's first
          successful login, their account status automatically changes from
          "pending" to "active," simplifying the onboarding process. This update
          ensures a smoother client registration flow while maintaining a secure
          and efficient user verification process.
        </p>
      </div>
    </div>
  </div>
  <!-- UI Login -->

  <!-- Discord Meeting -->
  <div class="max-w-screen-xl flex items-center justify-between mx-auto">
    <div class="grid grid-cols-2 items-center">
      <div class="h-auto max-w-full justify-center flex">
        <img
          src="{{ meetingDiscord }}"
          alt=""
          srcset=""
          style="height: 500px"
        />
      </div>
      <div>
        <h1 class="text-3xl mb-3 poppins-bold text-color">Discord Meeting</h1>
        <p class="my-6 poppins-light text-sm">
          A Discord meeting was held to clarify the development progress and
          discuss upcoming changes in the system, particularly concerning the
          tasker account structure. The team agreed to revise the design
          approach for tasker accounts to improve usability and maintain system
          consistency. The session provided valuable insights and alignment
          among team members for smoother collaboration.
        </p>
      </div>
    </div>
  </div>
  <!-- Discord Meeting -->

  <!-- System Design -->
  <div class="max-w-screen-xl mx-auto">
    <div class="max-w-screen-xl flex items-center justify-between mx-auto">
      <div class="flex-grow">
        <div class="flex items-center">
          <h1 class="text-3xl font-bold poppins-bold text-color">
            System Percentage
          </h1>
          <div
            class="flex-grow border-t border-gray-200 dark:border-gray-700 ml-4"
          ></div>
        </div>
        <div class="grid grid-cols-2 items-center mt-10">
          <div>
            <p class="my-6 poppins-light text-sm">
              {{ system_description[0].title }}
            </p>
            <div class="flex gap-5">
              <button
                class="bg-bg-main text-white poppins-semibold py-2 px-4 rounded-md"
              >
                <a
                  href="https://github.com/orgs/Quanby-OJT/projects/14/views/1?filterQuery="
                  class="text-color poppins-semibold"
                  >Github Link</a
                >
              </button>
            </div>
          </div>

          <div class="h-auto max-w-full justify-center flex">
            <img
              src="{{ systemPercent }}"
              alt=""
              srcset=""
              style="height: 250px"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- System Design -->

  <!-- View Documentation -->
  <div class="max-w-screen-xl mx-auto">
    <div class="items-center mt-32">
      <div>
        <div class="flex items-center">
          <div
            class="flex-grow border-t border-gray-200 dark:border-gray-700 ml-4"
          ></div>
          <h1 class="text-3xl font-bold poppins-bold text-color">
            Documentation
          </h1>
          <div
            class="flex-grow border-t border-gray-200 dark:border-gray-700 ml-4"
          ></div>
        </div>

        <div class="grid grid-cols-2 md:grid-cols-4 gap-4 my-10">
          <div class="grid gap-4">
            <div>
              <img
                class="h-auto max-w-full rounded-lg"
                src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg"
                alt=""
              />
            </div>
            <div>
              <img
                class="h-auto max-w-full rounded-lg"
                src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg"
                alt=""
              />
            </div>
            <div>
              <img
                class="h-auto max-w-full rounded-lg"
                src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="grid gap-4">
            <div>
              <img
                class="h-auto max-w-full rounded-lg"
                src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg"
                alt=""
              />
            </div>
            <div>
              <img
                class="h-auto max-w-full rounded-lg"
                src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-4.jpg"
                alt=""
              />
            </div>
            <div>
              <img
                class="h-auto max-w-full rounded-lg"
                src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-5.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="grid gap-4">
            <div>
              <img
                class="h-auto max-w-full rounded-lg"
                src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-6.jpg"
                alt=""
              />
            </div>
            <div>
              <img
                class="h-auto max-w-full rounded-lg"
                src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-7.jpg"
                alt=""
              />
            </div>
            <div>
              <img
                class="h-auto max-w-full rounded-lg"
                src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-8.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="grid gap-4">
            <div>
              <img
                class="h-auto max-w-full rounded-lg"
                src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-9.jpg"
                alt=""
              />
            </div>
            <div>
              <img
                class="h-auto max-w-full rounded-lg"
                src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-10.jpg"
                alt=""
              />
            </div>
            <div>
              <img
                class="h-auto max-w-full rounded-lg"
                src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-11.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->

  <!-- Summary -->
  <div class="max-w-screen-xl flex items-center justify-between mx-auto">
    <div class="items-center mt-10">
      <div>
        <p class="my-6 poppins-light text-sm"></p>
      </div>
    </div>
  </div>

  <div class="my-10">
    <div class="max-w-screen-xl mx-auto flex items-center justify-center">
      <div class="grid grid-cols-2 items-center gap-10">
        <div class="h-auto max-w-full justify-center flex">
          <img src="{{ meetingDiscord }}" alt="" srcset="" />
        </div>

        <div>
          <h1 class="text-3xl font-bold mb-3 poppins-bold text-color">
            Summary
          </h1>
          <p class="my-6 poppins-light text-sm">
            The system is now approximately 60% complete, with major features
            like rating, ranking, payment history, reporting, and feedback
            already finished, and the remaining modules expected to be completed
            within a month. Key updates include access limitation for unverified
            users, a redesigned login system optimized for mobile with a 6-digit
            verification code, and regularly updated backlogs for better project
            tracking and prioritization. A recent Discord meeting helped align
            the team on development progress and led to a revised approach for
            the tasker account structure, ensuring smoother system functionality
            and user experience moving forward.
          </p>

          <div class="flex justify-end">
            <button
              type="button"
              class="relative flex items-center justify-center gap-2 text-color bg-gradient-to-r from-blue-600 to-blue-800 hover:from-blue-700 hover:to-blue-900 focus:ring-4 focus:ring-blue-300 font-semibold rounded-full text-md px-6 py-3 transition-all duration-300 shadow-lg hover:shadow-xl focus:outline-none dark:focus:ring-blue-800"
            >
              Next Page
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 5l7 7-7 7"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
