<div class="bg-bg-main">
  <div
    class="max-w-screen-xl flex items-center justify-evenly mx-auto h-screen"
  >
    <div class="">
      <div
        class="card max-h-96 overflow-hidden flex justify-center items-center rounded-md mt-10 m-full"
      >
        <div class="items-center">
          <div class="h-auto max-w-full overflow-hidden">
            <img src="{{ homeBG5 }}" alt="" srcset="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="max-w-screen-xl mx-auto mt-14">
    <div class="text-5xl font-bold mb-3 poppins-semibold">
      Week 1: Meet The Team
    </div>
    <div class="flex">
      <div class="font-bold poppins-light">FEBRUARY 22 - FEBRUARY 28</div>
      <div class="px-10 font-bold poppins-semibold">Ronnie F. Estillero</div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
  </div>

  <div class="">
    <div class="max-w-screen-xl flex items-center justify-between mx-auto">
      <div class="grid grid-cols-2 items-center">
        <div>
          <h1 class="text-3xl font-bold mb-3 poppins-semibold">Developers</h1>
          <p class="my-6 poppins-light text-sm">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, iste
            illum quam dignissimos ipsam voluptas vero, quidem veritatis ut
            vitae earum odit nobis consectetur fuga dolores unde voluptatem,
            nisi ad.. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Exercitationem doloribus tenetur quis inventore, impedit maxime
            rerum nobis temporibus aperiam corporis culpa repellendus! Aut,
            minima iusto possimus quos repellat animi accusamus.. Lorem, ipsum
            dolor sit amet consectetur adipisicing elit. Voluptas debitis
            quaerat velit porro. Rem quidem aperiam voluptatem vitae dicta
            consequuntur qui facilis molestias ipsam repellendus. Facilis
            necessitatibus veritatis perspiciatis animi.
          </p>
          <p class="my-6 poppins-light text-sm">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, iste
            illum quam dignissimos ipsam voluptas vero, quidem veritatis ut
            vitae earum odit nobis consectetur fuga dolores unde voluptatem,
            nisi ad.. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
          <p class="my-6 poppins-light text-sm">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, iste
            illum quam dignissimos ipsam voluptas vero, quidem veritatis ut
            vitae earum odit nobis consectetur fuga dolores unde voluptatem,
            nisi ad.. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <div class="h-auto max-w-full justify-center flex">
          <img src="{{ homeBG }}" alt="" srcset="" style="height: 500px" />
        </div>
      </div>
    </div>
    <div class="max-w-screen-xl flex items-center justify-between mx-auto">
      <div class="items-center">
        <div>
          <h1 class="text-3xl font-bold mb-3 poppins-semibold">Our Task</h1>
          <p class="my-6 poppins-light text-sm">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, iste
            illum quam dignissimos ipsam voluptas vero, quidem veritatis ut
            vitae earum odit nobis consectetur fuga dolores unde voluptatem,
            nisi ad.. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Exercitationem doloribus tenetur quis inventore, impedit maxime
            rerum nobis temporibus aperiam corporis culpa repellendus! Aut,
            minima iusto possimus quos repellat animi accusamus.. Lorem, ipsum
            dolor sit amet consectetur adipisicing elit. Voluptas debitis
            quaerat velit porro. Rem quidem aperiam voluptatem vitae dicta
            consequuntur qui facilis molestias ipsam repellendus. Facilis
            necessitatibus veritatis perspiciatis animi.
          </p>
          <p class="my-6 poppins-light text-sm">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, iste
            illum quam dignissimos ipsam voluptas vero, quidem veritatis ut
            vitae earum odit nobis consectetur fuga dolores unde voluptatem,
            nisi ad.. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
          <p class="my-6 poppins-light text-sm">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, iste
            illum quam dignissimos ipsam voluptas vero, quidem veritatis ut
            vitae earum odit nobis consectetur fuga dolores unde voluptatem,
            nisi ad.. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </div>
    <div class="max-w-screen-xl flex items-center justify-between mx-auto">
      <div class="grid grid-cols-2 items-center mt-10">
        <div class="h-auto max-w-full justify-center flex">
          <img src="{{ homeBG }}" alt="" srcset="" style="height: 500px" />
        </div>
        <div>
          <h1 class="text-3xl font-bold mb-3 poppins-semibold">Mentors</h1>
          <p class="my-6 poppins-light text-sm">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, iste
            illum quam dignissimos ipsam voluptas vero, quidem veritatis ut
            vitae earum odit nobis consectetur fuga dolores unde voluptatem,
            nisi ad.. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
          <p class="my-6 poppins-light text-sm">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, iste
            illum quam dignissimos ipsam voluptas vero, quidem veritatis ut
            vitae earum odit nobis consectetur fuga dolores unde voluptatem,
            nisi ad.. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </div>
    <div class="max-w-screen-xl flex items-center justify-between mx-auto">
      <div class="items-center mt-10">
        <div>
          <h1 class="text-3xl font-bold mb-3 poppins-semibold">Summary</h1>
          <p class="my-6 poppins-light text-sm">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, iste
            illum quam dignissimos ipsam voluptas vero, quidem veritatis ut
            vitae earum odit nobis consectetur fuga dolores unde voluptatem,
            nisi ad.. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Exercitationem doloribus tenetur quis inventore, impedit maxime
            rerum nobis temporibus aperiam corporis culpa repellendus! Aut,
            minima iusto possimus quos repellat animi accusamus.. Lorem, ipsum
            dolor sit amet consectetur adipisicing elit. Voluptas debitis
            quaerat velit porro. Rem quidem aperiam voluptatem vitae dicta
            consequuntur qui facilis molestias ipsam repellendus. Facilis
            necessitatibus veritatis perspiciatis animi.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
