<div class="grid grid-cols-2 md:grid-cols-4 gap-4 my-10">
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="assets/ojt_photo/1.svg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="assets/ojt_photo/2.svg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="assets/ojt_photo/3.svg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="assets/ojt_photo/4.svg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="assets/ojt_photo/5.svg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="assets/ojt_photo/6.svg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="assets/ojt_photo/7.svg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="assets/ojt_photo/8.svg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="assets/ojt_photo/9.svg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="assets/ojt_photo/10.svg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="assets/ojt_photo/11.svg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="assets/ojt_photo/12.svg" alt="">
        </div>
    </div>
  </div>