<div class="w-full h-screen bg-blue-50 flex items-center justify-evenly">
  <div class="p-6 max-w-lg">
    <span class="block poppins-light text-xl mb-5">Get In Touch!</span>
    <h1 class="text-5xl font-bold mb-3 poppins-medium" style="color: #eb7751">
      I'm Ronnie, Your
    </h1>
    <span class="block poppins-medium text-5xl">Developer</span>

    <button
      type="button"
      class="mt-10 text-white font-semibold bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 rounded-full text-sm px-10 py-4 text-center inline-flex items-center me-2 mb-2"
    >
      INQUIRE NOW !
    </button>
  </div>
  <div class="h-auto max-w-full">
    <img style="height: 500px" [src]="imageHome" alt="Description of image" />
  </div>
</div>

<div class="w-full h-screen p-10 flex items-center justify-center flex-col">
  <div class="flex w-full items-center justify-evenly">
    <div class="h-auto max-w-full">
      <img style="height: 500px" [src]="imageAbout" alt="" />
    </div>
    <div class="p-6 max-w-xl">
      <span class="block poppins-light text-xl mb-5"
        >Building the Future Together!</span
      >
      <h1 class="text-5xl font-bold mb-3 poppins-medium" style="color: #eb7751">
        Transform Ideas Into
      </h1>
      <span class="block poppins-medium text-5xl">Reality</span>
      <p class="mt-5">
        We specialize in web development, creating innovative solutions and
        empowering you to bring your vision to life.
      </p>

      <button
        type="button"
        class="mt-5 text-white font-semibold bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 rounded-full text-sm px-16 py-4 text-center inline-flex items-center me-2 mb-2"
      >
        LEARN MORE +
      </button>
    </div>
  </div>
</div>

<div
  class="w-full h-screen bg-blue-50 flex flex-col items-center justify-center"
>
  <div class="p-6 items-center flex justify-center flex-col">
    <span class="block poppins-light text-xl mb-5"
      >Building the Future Together!</span
    >
    <h1 class="text-5xl font-bold mb-3 poppins-medium" style="color: #eb7751">
      Transform Ideas Into
    </h1>
    <p class="mt-5">
      We specialize in web development, creating innovative solutions and
      empowering you to bring your vision to life.
    </p>
  </div>

  <div class="flex items-center justify-center w-full gap-3">
    <div
      class="relative rounded-lg shadow-lg max-w-80 flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200"
    >
      <blockquote
        class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400"
      >
        <h3
          class="text-lg font-semibold text-gray-900 dark:text-white"
          style="color: #eb7751"
        >
          Very easy this was to integrate
        </h3>
        <p class="my-4">
          If you care for your time, I hands down would go with this."
        </p>
      </blockquote>
      <figcaption class="flex items-center justify-center">
        <img
          class="rounded-full w-9 h-9"
          src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png"
          alt="profile picture"
        />
        <div
          class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3"
        >
          <div style="color: #eb7751">Bonnie Green</div>
          <div class="text-sm text-gray-500 dark:text-gray-400">
            Developer at Open AI
          </div>
        </div>
      </figcaption>
    </div>
    <div
      class="relative rounded-lg shadow-lg max-w-80 flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200"
    >
      <blockquote
        class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400"
      >
        <h3
          class="text-lg font-semibold text-gray-900 dark:text-white"
          style="color: #eb7751"
        >
          Very easy this was to integrate
        </h3>
        <p class="my-4">
          If you care for your time, I hands down would go with this."
        </p>
      </blockquote>
      <figcaption class="flex items-center justify-center">
        <img
          class="rounded-full w-9 h-9"
          src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png"
          alt="profile picture"
        />
        <div
          class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3"
        >
          <div style="color: #eb7751">Bonnie Green</div>
          <div class="text-sm text-gray-500 dark:text-gray-400">
            Developer at Open AI
          </div>
        </div>
      </figcaption>
    </div>
    <div
      class="relative rounded-lg shadow-lg max-w-80 flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200"
    >
      <blockquote
        class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400"
      >
        <h3
          class="text-lg font-semibold text-gray-900 dark:text-white"
          style="color: #eb7751"
        >
          Very easy this was to integrate
        </h3>
        <p class="my-4">
          If you care for your time, I hands down would go with this."
        </p>
      </blockquote>
      <figcaption class="flex items-center justify-center">
        <img
          class="rounded-full w-9 h-9"
          src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png"
          alt="profile picture"
        />
        <div
          class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3"
        >
          <div style="color: #eb7751">Bonnie Green</div>
          <div class="text-sm text-gray-500 dark:text-gray-400">
            Developer at Open AI
          </div>
        </div>
      </figcaption>
    </div>
    <div
      class="relative rounded-lg shadow-lg max-w-80 flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200"
    >
      <blockquote
        class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400"
      >
        <h3
          class="text-lg font-semibold text-gray-900 dark:text-white"
          style="color: #eb7751"
        >
          Very easy this was to integrate
        </h3>
        <p class="my-4">
          If you care for your time, I hands down would go with this."
        </p>
      </blockquote>
      <figcaption class="flex items-center justify-center">
        <img
          class="rounded-full w-9 h-9"
          src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png"
          alt="profile picture"
        />
        <div
          class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3"
        >
          <div style="color: #eb7751">Bonnie Green</div>
          <div class="text-sm text-gray-500 dark:text-gray-400">
            Developer at Open AI
          </div>
        </div>
      </figcaption>
    </div>
  </div>
</div>

<app-footer></app-footer>
