<!--  -->
<div class="bg-bg-main">
  <div
    class="max-w-screen-xl flex items-center justify-between mx-auto h-screen"
  >
    <div class="grid grid-cols-2 items-center">
      <div class="p-6 max-w-lg">
        <span class="block poppins-light text-xl mb-3">Come and Join!</span>
        <h1 class="text-5xl font-bold mb-3 poppins-semibold">
          OJT Journey With
        </h1>
        <span class="block mb-3 poppins-semibold text-5xl">Quanby</span>
        <p class="my-6 poppins-light text-sm">
          Here is my OJT journey with some information about me and my skills.
          You can find more information about me in my portfolio.
        </p>

        <button
          type="button"
          class="text-white font-semibold b-dark hover:b-light focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 rounded-md text-sm py-3 px-7 text-center inline-flex items-center me-2 mb-2"
        >
          GET STARTED
        </button>
      </div>
      <div class="h-auto max-w-full">
        <img src="{{ homeBG }}" alt="" srcset="" style="height: 700px" />
      </div>
    </div>
  </div>
</div>

<!--  -->
<div class="">
  <div class="max-w-screen-xl mx-auto my-20">
    <div>
      <div
        class="card shadow-lg max-h-96 overflow-hidden flex justify-center items-center"
      >
        <div class="grid grid-cols-2 items-center">
          <div class="py-4 px-8 max-w-xl">
            <h1 class="text-5xl font-bold mb-3 poppins-semibold">Learning</h1>
            <span class="block mb-3 poppins-semibold text-5xl"
              >Experiences</span
            >
            <p class="my-6 poppins-light text-sm">
              Here is my OJT journey with some information about me and my
              skills. You can find more information about me in my portfolio.
            </p>
            <div class="flex justify-between">
              <a class="font-bold poppins-light" href="">FEBRUARY - MARCH</a>
              <a class="font-bold poppins-seminbold" href=""> READ MORE </a>
            </div>
          </div>
          <div class="h-auto max-w-full overflow-hidden">
            <img src="{{ homeBG2 }}" alt="" srcset="" style="height: 700px" />
          </div>
        </div>
      </div>

      <!-- Swiper Weekly task -->
      <app-swiper></app-swiper>
    </div>

    <div class="bg-bg-main mt-20">
      <div class="grid grid-cols-2 items-center">
        <div class="px-6">
          <span class="block poppins-light text-xl mb-3">OJT Journey: </span>
          <h1 class="text-5xl font-bold mb-3 poppins-semibold">
            A Thank You Note
          </h1>
          <p class="my-6 poppins-light text-sm">
            My OJT journey has been an amazing experience, where I got to learn
            Angular and Flutter while working in a real IT workplace. Talking
            with the team and sharing ideas helped me improve my skills and gain
            confidence. More than that, I built great friendships that made this
            journey even more special. This experience has taught me a lot and
            prepared me for what’s ahead in my career.
          </p>
        </div>
        <div class="h-auto max-w-full overflow-hidden">
          <img src="{{ homeBG3 }}" alt="" srcset="" style="height: 700px" />
        </div>
      </div>
    </div>
  </div>
</div>
