<div class="bg-bg-main">
  <div
    class="max-w-screen-xl flex items-center justify-evenly mx-auto h-screen"
  >
    <div class="">
      <div
        class="card max-h-96 overflow-hidden flex justify-center items-center rounded-md mt-10 m-full"
      >
        <div class="items-center">
          <div class="h-auto max-w-full overflow-hidden">
            <img src="{{ homeBG5 }}" alt="" srcset="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="max-w-screen-xl mx-auto mt-14">
  <div class="text-3xl font-bold mb-3 poppins-semibold">
    Week 3 : A Quick Shift to a <span class="text-color"> New System </span>
  </div>
  <div class="flex mt-10">
    <div class="font-bold poppins-light">FEBRUARY 17 - FEBRUARY 21</div>
    <div class="px-10 font-bold poppins-semibold">Ronnie F. Estillero</div>
  </div>
  <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
</div>

<div class="">
  <div class="max-w-screen-xl flex items-center justify-between mx-auto">
    <div class="grid grid-cols-2 items-center">
      <div>
        <h1 class="text-3xl font-bold mb-3 poppins-semibold text-color">
          Introduction
        </h1>
        <p class="my-6 poppins-light">
          Week three of my On-the-Job Training (OJT) was both exciting and
          nerve-wracking. Our team had to present a new system we planned to
          develop during OJT. The challenge was to create something simple yet
          useful and challenge-friendly.
        </p>
        <p class="my-6 poppins-light t">
          We decided on NearByTask, a mobile platform designed for TESDA
          graduates to find job opportunities by completing client-posted tasks.
          Our goal was to create a system that generates income, but it wasn’t
          an easy decision. The project involved multiple modules and features,
          and we were assigned to build it using Flutter (for mobile) and
          Angular (for the admin panel)—two technologies we had no prior
          experience with.
        </p>
        <p class="my-6 poppins-light">
          This week, our main focus was to ensure the system’s feasibility and
          start coding the front-end.
        </p>
      </div>
      <div class="h-auto max-w-full justify-center flex">
        <img src="{{ homeBG }}" alt="" srcset="" style="height: 500px" />
      </div>
    </div>
  </div>

  
  <div class="bg-bg-main my-10">
    <div class="max-w-screen-xl flex items-center justify-between mx-auto">
      <div class="grid grid-cols-4 items-center mt-10 gap-10">
        <h1 class="text-3xl font-bold mb-3 poppins-semibold">
          Challenges <span class="text-color">and Solutions</span>
        </h1>
        <div class="col-span-4">
          <div>
            <app-challenges></app-challenges>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="my-20">
    <div class="max-w-screen-xl mx-auto flex items-center justify-center">
      <div class="grid grid-cols-2 items-center gap-10">
        <div class="h-auto max-w-full justify-center flex">
          <img
            src="{{ taskCompleted }}"
            alt=""
            srcset=""
            style="height: 450px"
          />
        </div>

        <div class="">
          <h1 class="text-3xl font-bold mb-3 poppins-semibold">
            Tasks <span class="text-color">Completed</span>
          </h1>
          <p class="my-6 poppins-light">
            Despite the hurdles, I successfully accomplished:
          </p>
          <ul class="my-6 poppins-light">
            <li class="my-2">✅ Installing and setting up Angular.</li>
            <li class="my-2">
              ✅ Connecting the database for dynamic data handling.
            </li>
            <li class="my-2">✅ Implementing CRUD operations for testing.</li>
            <li class="my-2">
              ✅ Understanding and configuring Angular routing.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-bg-main my-10">
    <div
      class="max-w-screen-xl min-h-96 flex items-center justify-between mx-auto"
    >
      <div class="items-center">
        <div>
          <div class="grid grid-cols-2 items-center">
            <div>
              <h1 class="text-3xl font-bold mb-3 poppins-semibold">
                Key <span class="text-color">Learnings</span>
              </h1>
              <p class="my-6 poppins-light w-2/3">
                This week, I gained hands-on experience with Angular and
                database setup. Here are my key takeaways:
              </p>
            </div>
            <div class="h-auto max-w-full justify-center flex overflow-hidden">
              <img
                src="{{ keyLearning }}"
                alt=""
                srcset=""
                style="height: 300px"
              />
            </div>
          </div>

          <div class="grid grid-cols-2 gap-10">
            <div>
              <h3 class="text-xl font-bold mb-3 poppins-semibold text-color">
                Angular Setup
              </h3>
              <p class="my-6 poppins-light">
                Installed Angular using npm install -g &#64;angular/cli and
                created a new project.
              </p>
            </div>
            <div>
              <h3 class="text-xl font-bold mb-3 poppins-semibold text-color">
                Routing in Angular
              </h3>
              <p class="my-6 poppins-light">
                Set up a database in Supabase and configured it, drawing from my
                experience with MySQL.
              </p>
            </div>
            <div>
              <h3 class="text-xl font-bold mb-3 poppins-semibold text-color">
                PostgreSQL with Supabase
              </h3>
              <p class="my-6 poppins-light">
                Connected Angular to Supabase by initializing its URL and key,
                installing &#64;supabase/supabase.js, and integrating both
                frontend and backend.
              </p>
            </div>
            <div>
              <h3 class="text-xl font-bold mb-3 poppins-semibold text-color">
                Database Connection in Angular
              </h3>
              <p class="my-6 poppins-light">
                As the team leader, I assigned daily tasks, checked outputs
                before moving to the next step, and ensured steady progress.
              </p>
            </div>
            <div class="mb-10">
              <h3 class="text-xl font-bold mb-3 poppins-semibold text-color">
                Team Leadership
              </h3>
              <p class="my-6 poppins-light">
                As the team leader, I assigned daily tasks, checked outputs
                before moving to the next step, and ensured steady progress
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="max-w-screen-xl min-h-96 flex items-center justify-between mx-auto"
  >
    <div class="items-center my-10">
      <div>
        <h1 class="text-3xl font-bold mb-3 poppins-semibold">
          Next Week<span class="text-color">Goals</span>
        </h1>
        <div class="grid grid-cols-2 items-center gap-10">
          <div class="flex justify-center items-center relative">
            <img src="{{ pattern }}" alt="" style="height: 300px" />
            <div
              class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
            >
              <div class="p-10 bg-bg-main rounded-lg shadow-lg">
                <span class="text-lg font-bold poppins-semibold">CREATE </span>
              </div>
            </div>
          </div>

          <div class="">
            <p class="my-6 poppins-light text-center">
              I will develop a new module with CRUD operations. This will allow
              for efficient data management and interaction.
            </p>
          </div>
        </div>
      </div>

      <div>
        <h1 class="text-3xl font-bold poppins-semibold text-color"></h1>
        <div class="grid grid-cols-2 items-center gap-10">
          <div class="">
            <p class="my-6 poppins-light text-center">
              I will complete the admin panel with data export features. This
              will make it easier to retrieve and manage important data.
            </p>
          </div>
          <div class="flex justify-center items-center relative">
            <img src="{{ pattern }}" alt="" style="height: 300px" />
            <div
              class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
            >
              <div class="p-10 bg-bg-main rounded-lg shadow-lg">
                <span class="text-lg font-bold poppins-semibold">ORGANIZE</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <h1 class="text-3xl font-bold poppins-semibold text-color"></h1>
        <div class="grid grid-cols-2 items-center gap-10">
          <div class="flex justify-center items-center relative">
            <img src="{{ pattern }}" alt="" style="height: 300px" />
            <div
              class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
            >
              <div class="p-10 bg-bg-main rounded-lg shadow-lg">
                <span class="text-lg font-bold poppins-semibold"
                  >OPTIMIZE
                </span>
              </div>
            </div>
          </div>

          <div class="">
            <p class="my-6 poppins-light text-center">
              I will implement search and filtering for better usability. These
              features will improve navigation and user experience.
            </p>
          </div>
        </div>
      </div>

      <div>
        <h1 class="text-3xl font-bold poppins-semibold text-color"></h1>
        <div class="grid grid-cols-2 items-center gap-10">
          <div class="">
            <p class="my-6 poppins-light text-center">
              I will improve my debugging and problem-solving skills. This will
              help me resolve issues more efficiently.
            </p>
          </div>
          <div class="flex justify-center items-center relative">
            <img src="{{ pattern }}" alt="" style="height: 300px" />
            <div
              class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
            >
              <div class="p-10 bg-bg-main rounded-lg shadow-lg">
                <span class="text-lg font-bold poppins-semibold">SOLVE </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <h1 class="text-3xl font-bold poppins-semibold text-color"></h1>
        <div class="grid grid-cols-2 items-center gap-10">
          <div class="flex justify-center items-center relative">
            <img src="{{ pattern }}" alt="" style="height: 300px" />
            <div
              class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
            >
              <div class="p-10 bg-bg-main rounded-lg shadow-lg">
                <span class="text-lg font-bold poppins-semibold">ADAPT</span>
              </div>
            </div>
          </div>

          <div class="">
            <p class="my-6 poppins-light text-center">
              I will adapt more effectively to the workplace environment. This
              will enhance my collaboration and productivity.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="my-10">
    <div class="max-w-screen-xl mx-auto flex items-center justify-center">
      <div class="grid grid-cols-2 items-center gap-10">
        <div class="h-auto max-w-full justify-center flex">
          <img src="{{ summary }}" alt="" srcset="" />
        </div>

        <div>
          <h1 class="text-3xl font-bold poppins-semibold">
            Weekly <span class="text-color">Summary</span>
          </h1>
          <p class="my-6 poppins-light">
            This week of my OJT was both challenging and rewarding as our team
            started developing NearByTask, a mobile platform for TESDA graduates
            using Flutter and Angular, while I focused on setting up Angular,
            connecting it to Supabase, and implementing CRUD operations. As the
            team leader, I assigned tasks, monitored progress, strengthened my
            skills in database management and web development, and look forward
            to gaining more hands-on experience to become more confident in
            Angular.
          </p>

          <div class="flex justify-end">
            <button
              type="button"
              class="relative flex items-center justify-center gap-2 text-color bg-gradient-to-r from-blue-600 to-blue-800 hover:from-blue-700 hover:to-blue-900 focus:ring-4 focus:ring-blue-300 font-semibold rounded-full text-md px-6 py-3 transition-all duration-300 shadow-lg hover:shadow-xl focus:outline-none dark:focus:ring-blue-800"
            >
              Next Page
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 5l7 7-7 7"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
